.box
{border-radius: 15px;
    position: relative;
    display: inline-block;
    background-color: rgb(225, 243, 243);
    left: 50%;
 
    transform: translateX(-50%);
padding: 10px;
padding: 10px;
text-align: center;
border: 1px solid rgb(4, 153, 133);
width: 300px;
margin-top: 100px;
}

.title{
    position: relative;
    font-family: Arial ;
    font-size:x-large;
}

.textBox{
position: relative;
width: 200px;
height:30px ;
font-size: 110%;
margin-top: 3px;
border: 0.5px solid rgb(12, 0, 0);
border-radius: 5px;
padding-left: 3px;

}

.button{
    position: relative;
    width: 90px;
    height:25px ;
    font-size: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px, solid, rgb(9, 121, 87);
    background-color: rgb(159, 221, 200);
    margin-bottom: 5px;
    }
.lebel2{

    font-size: 90%;
}

.link{
    color: blue;
    text-decoration: underline;
}

.label3{
    position: relative;
    margin-top: 15px;
    display: block;
    text-align: left;
    left: 14%;
    font-size: 90%;
}
.errorBox{
    margin-top: 5px;
    color: red;
    font-size: 85%;
}