.profile {
    
    position: relative;
    background-color: rgb(242, 245, 221);
    height: 100px;
    width: 99%;
    border-radius: 10px 10px 0px 0px;
    left: 0.5%;
    top: 0.5%
}

.profile1 {
    
    position: absolute;
    height: 2.5cm;
    width: 2.5cm;
    border-radius: 100%;
    background-color: blue;
    right: 5px;
    bottom:-20px;
   
}

.profile1:hover {

    opacity: 1;
    background-color: rgba(0, 0, 255, 0.705);
  
}

.profileName{
position:absolute;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
right: 3cm;
bottom:10% ;
font-size: 90%;
text-align: center;
transition: 0.4s;
padding-left: 10px;
padding-right: 10px;
}

.profileName:hover {
border-radius: 8px;
background-color:  rgb(204, 211, 161);
}

.dashboardBox{
    position:relative;
    background-color: rgb(255, 255, 255);
    height: 200px;

    border: 1px solid black;
}

.dashboardBox1{
position: absolute;
display: inline-block;
    border: 1px solid rgb(104, 4, 4);
    height: 100%;
    width: 103px;
 margin-left: 10px;
}

.dashboardlabel1{
    display: inline-block;
    color: rgb(15, 3, 6);
    background-color: rgb(236, 239, 241);
  border-radius: 5px;
    height: 130px;
    width: 90px;
    margin-top: 5px;
    margin-left: 5px;
}

.dashboardlabel2{
 
    display: inline-block;
    color: rgb(15, 3, 6);
    border: 1px solid rgb(104, 4, 4);
 border-radius: 100%;
    height: 30px;
    width: 30px;
    margin-top: 15px;
  margin-left: 34px;
}

.dashboardBox2{
    position: absolute;
        border: 1px solid rgb(104, 4, 4);
        height: 100%;
        width: 170px;
        left: 120px;
       
    }

    .dashboardInput{
        position: absolute;
        margin-top: 15px;
        margin-left: 5px;
        height: 30px;
        width: 92%;
           
        }

        .dashboardbtn1{
            position: absolute;
            top: 90px;
            width: 25%;
            left: 20px;
            border-radius: 10px;
            height: 30px;
            }

            .dashboardbtn2{
                position: absolute;
                top: 90px;
                right: 20px;
                width: 25%;
                border-radius: 10px;
                height:  30px;
                }